@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
  font-weight: 300;
}

img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.container{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.product-index{
    width: 720px;
    background: #eeeeee;
    border-radius: 5px;
}
.close-icon{
    display: flex;
    justify-content: flex-end;
}
.product-index header{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid #bfbfbf;
}
.product-detail{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-detail {
    padding: 10px;
}
.text-detail p{
    text-align: left;
    margin: 0px 5px 5px 5px;
}